.rules {
  resize: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  border: 3px solid #ffd500;
  font-size: 16px;
  font-family: "Alice", serif;
  width: 90%;
  height: 15em;
}
