.Converter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  margin: auto;
  text-align: center;
  font-family: "Alice", serif;
}

.half {
  display: inline-block;
  width: 99%;
  margin: auto;
  align-items: center;
}

label {
  font-size: x-large;
  text-transform: uppercase;
}

@media only screen and (max-width: 1000px) {
  .Converter {
    display: block;
    margin: auto;
  }

  .half {
    display: block;
    width: 90%;
    margin: auto;
  }
}
